<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>751302136238-p0i5jhd4f5rd8edbt05ajfd5t4bv8quh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751302136238-p0i5jhd4f5rd8edbt05ajfd5t4bv8quh</string>
	<key>API_KEY</key>
	<string>AIzaSyCNSKngFwTLZJwwOToF4vMS4nstAJpFjPo</string>
	<key>GCM_SENDER_ID</key>
	<string>751302136238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaoselevators.Roomly</string>
	<key>PROJECT_ID</key>
	<string>roomly-ca7b9</string>
	<key>STORAGE_BUCKET</key>
	<string>roomly-ca7b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:751302136238:ios:c7a4c7b97bd157b0</string>
	<key>DATABASE_URL</key>
	<string>https://roomly-ca7b9.firebaseio.com</string>
</dict>
</plist>
